<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;700&family=Nobile&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Info Page</title>
  </head>
  <body>
    <h1>Hola Info Page!</h1>
    <div class="container">
      <button><a href="/">Back</a></button>
      <h2><%=countries.city %></h2>
      <h3>
        This city is in <%=countries.country %>, <%=countries.continent %>
      </h3>
      <img src="<%= countries.image %>" />
    </div>
  </body>
</html>
