.nav-container {
    background-color: white;
    
    width: auto;
    text-decoration: none;
    
}
.nav-items {
    font-family: 'PT Sans', sans-serif;
    background-color: darkcyan;
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    border-bottom: 3px solid silver;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;
    align-items: center;
    position: relative;
    left: 0;
    top: -10px;
    margin: 0;
    padding: 20px;
    
}
.nav-items li a {
    
    text-decoration: none;
}
.side-nav {
    font-family: 'Allerta Stencil', sans-serif;;
    background-color: paleturquoise;
    border-right: 3px solid white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 200vh;
    z-index: 1;
    
}

.main-container {
    position: relative;
    left: 100px;
    text-align: justify;
    word-wrap: normal;
    width: 1200px;

}
.book {
    float: right;
}
.mobile-nav {
    visibility: hidden;
}
@media  screen and (max-width:600px) {
    .nav-container {display: none;
        visibility: hidden;}
    .nav-items {visibility: hidden;}
    .side-nav {visibility: hidden;}
    
    #logo {
        visibility: visible;
        font-size: 40px;
        position: absolute;
        float: left;
        padding:20px
    }
    
    .mobile-nav {
        background-color: gold;
        position: relative;
        visibility: visible;
    }
    #items:hover {
        color: greenyellow;
    }

    #items {
        font-size: 50px;
        float: right;
        display: block;
        top: 10px;
        margin: auto;
    }
    #items li {
        font-size: 20px;
        list-style: none;
        display: none;
        width: 120px;
    }
    #items li a {
        color: lightgray;
        text-decoration: none;
        
    }
    .mobile-nav:hover #items li {
        background-color: black;
        display: list-item 
        
        
    }


    .main-container h1 {
        font-size: 30px;

    }
    .main-container {
        border-top: 3px solid silver;
        background-color: lavender;
        position: fixed;
        top: 120px;
        left: 20px;
        text-align: justify;
        margin: -30px;
        padding: 20px;
        word-wrap: break-word;
        z-index: -1;
    }
    .book {
        width: 250px;
        position: relative;
        

    }


    
}
