body {
  background-color: lightgoldenrodyellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 45px;
  color: darkolivegreen;
  display: flex;
  justify-content: center;
}
